.footer-container {
  display: flex; /* Flexbox layout */
  align-items: center;
  width: 100%; /* full width */
  justify-content: center; /* aligns items to the center */
  font-size: 1rem; /* base font size (16px usually) */
  transition: all 0.2s ease-in-out; /* smooth transitions */
  flex-direction: row;
  height: fit-content;
}

.footer-container_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  margin: 0.2rem;
}

.footer-container_text-link {
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
  cursor: pointer;
  font-size: small;
}
